.users .header {
  font-size: 24px;
  font-weight: 500;
  color: #213f7d;
}
.users .users_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.users .card {
  width: 240px;
  height: 160px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  box-sizing: border-box;
  padding: 20px 25px;
}
.users .card .title {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #545f7d;
}
.users .card .total {
  font-size: 24px;
  font-weight: 600;
  color: #213f7d;
  margin: 0;
}
.users .table {
  width: 100%;
  margin-top: 30px;
}
.users .table table {
  position: relative;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 20px;
  width: 100%;
}
.users .table table th div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.users .table table th div p {
  font-size: 12px;
  font-weight: 600;
  color: #545f7d;
  text-transform: uppercase;
  margin-right: 10px;
}
.users .table table td p {
  font-size: 14px;
  font-weight: 400;
  color: #545f7d;
}
.users .table table td button {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 100px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
.users .table table tr:hover .table__options__container .table__options {
  display: block;
}
.users .table table tr:hover .table__options__container:active .table__options {
  display: block;
}
.users .table table .filter {
  position: absolute;
  top: 60px;
  width: 270px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 10px;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.14);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.users .table table .filter .section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.users .table table .filter .section p {
  font-size: 14px;
  font-weight: 500;
  color: #545f7d;
}
.users .table table .filter .section select,
.users .table table .filter .section input,
.users .table table .filter .section .date {
  width: 230px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #213f7d;
  border-radius: 8px;
  color: #545f7d;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
}
.users .table table .filter .section input {
  padding-left: 10px;
  color: #545f7d;
  outline: none;
}
.users .table table .filter .section .date {
  display: flex;
}
.users .table table .filter .section .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.users .table table .filter .section .buttons button {
  width: 98px;
  height: 40px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.users .table table .filter .section .buttons .button1 {
  border: 1px solid #545f7d;
  background: #fff;
  color: #545f7d;
}
.users .table table .filter .section .buttons .button2 {
  background: #39cdcc;
  border: 1px solid #39cdcc;
  color: #fff;
}
.users .table .controller {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.users .table .controller .left {
  display: flex;
  align-items: center;
}
.users .table .controller .left .showing {
  font-size: 14px;
  font-weight: 400;
  color: #545f7d;
  text-transform: capitalize;
}
.users .table .controller .left .select {
  width: 80px;
  height: 30px;
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  margin-left: 20px;
}
.users .table .controller .left .select p {
  font-size: 14px;
  font-weight: 500;
  color: #213f7d;
}
.users .table .controller .right {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.users .table .controller .right .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(33, 63, 125, 0.1);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  width: 24px;
  height: 24px;
}
.users .table .controller .right .active {
  color: #fff;
  background: rgb(33, 63, 125);
}
.users .table .controller .right .numbers {
  margin: 0;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  color: #545f7d;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.users .table .table__options__container {
  position: relative;
}
.users .table .table__options {
  position: absolute;
  display: none;
  right: 0;
  width: 180px;
  height: 130px;
  background: #ffffff;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  z-index: 1;
}
.users .table .table__options .table__option {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.users .table .table__options .table__option p {
  font-size: 14px;
  font-weight: 500;
  color: #545f7d;
  margin: 0;
  margin-left: 10px;
}/*# sourceMappingURL=users.css.map */